<div class="bg">
	<div id="header">
		<div id="header-content">
			<div class="headbox">
				<div id="ltext">Activities</div>
			</div>
			<div class="headbox">
				<div id="mtext">{{day}} {{hrs}}:{{mins}}</div>
			</div>
			<div class="headbox">
				<div id="rtext">
					<i class="fa fa-sitemap" aria-hidden="true"></i>
					<i class="fa fa-battery-full" aria-hidden="true"></i>
					<i class="fa fa-volume-up" aria-hidden="true"></i>
					<i class="fa fa-power-off" aria-hidden="true"></i>
					<i class="fa fa-caret-down" aria-hidden="true"></i>
				</div>
			</div>
    	</div>
	</div>
	<div class="sidenav">
  		<img src="/images/firefox.png" alt="">
  		<img src="/images/ubuntu.png" alt="">
  		<img src="/images/appstore.png" alt="">
  		<img src="/images/chromepng.png" alt="">
  		<img src="/images/trash.png" alt="">
  		{{!-- <i class="fas fa-grip-horizontal"></i> --}}
	</div><div id="filetype" style="display: none;">{{filetype}}</div>
	<div class="contentDiv">
		
	</div>
	<div id='cntnr'>
    	<ul id='items'>
      		<li>Copy</li>
      		<li>Paste</li>
      		<li id='del'>Delete</li>  
    	</ul>
    	<hr />
    	<ul id="items">
    		<li>Open Terminal</li>
    	</ul>
    	<hr />
    	<ul id='items'>
      		<li id="newfo">New folder</li>
      		<li id="newfi">New file</li>  
    	</ul>
  	</div>
</div>